<p>
  <strong><%= comment.commenter %></strong> wrote:
</p>
<p>
  <%= comment.body %>
</p>
  <%= link_to_if(can?(:delete_comment, User), 'Delete Comment', [comment.article, comment],
               method: :delete,
							 data: { confirm: 'Are you sure?' }){} %>
</p>
