<%= form_for([@article, @article.comments.build]) do |f| %>
	<div class="row">
		<div class="col-sm-4">
			<p> Your name </p>
			<%= f.text_field :commenter, :class => 'form-control' %>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<p> Your comment </p>
			<%= f.text_area :body, :class => 'form-control' %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-sm-4 ">
			<%= f.submit :value => "Post comment", :class => 'btn btn-primary btn-md'  %> 
		</div>
	</div>
<% end %>
