@import "bootstrap";

$darkblue: #003366;
$highlightblue: #2196F3;
$diminishedblue: rgba(33, 150, 243, 0.4);
$headerFontSize: 22pt;

a {
    text-decoration: none;
    color: $highlightblue;
    .action-links & {
      color: $diminishedblue;
    }
}
a:hover,
a:focus {
    text-decoration: underline;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.header .account-info {
	position: absolute;
	top: 1em;
	right: 2em;
}

.bluebutton {
	border: 2px solid $diminishedblue;
	border-radius: 1px;
	padding: 0 5px;
}
.bluebutton:hover {
	background-color: darken($darkblue, 7%);
	border-color: $highlightblue;
}
.bluebutton a {
	text-decoration: none;
}
.bluebutton a:hover {
	color: $highlightblue;
}

.bar {
   background: $darkblue;
   color: #fff;
}

.content {
    padding: 2em 1em 0;
}

.post {
  margin: 30px 0;
  border-top: solid 1px rgba(30, 30, 30, 0.1);
}

.article-title {
	text-decoration: none;
	color: $darkblue;
}

.info-text {
	font-size: 10px; 
	color: lighten(black, 60%);
	line-height: 60%;
	padding-bottom: 5px;
}

.comments {
  margin-left: 20px;
}
.comments p {
  margin-top: 20px;
  line-height: 3px;
}


@media only screen and (min-width: $screen-sm-max) {
  .content {
      padding: 2em 3em 0;
      margin-left: 25%;
  }

  .header {
      text-align: right;
      margin: 80% 2em 0;
	}
	.header .account-info {
		/*position: absolute;*/
		top: auto;
		right: 3.2em; 	/*lol*/
		bottom: 2em;
	}

  .bar {
      position: fixed;
      top: 0;
      bottom: 0;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .bar {
    padding: 10px;
  }

	.bluebutton {
		padding: 3px 30px;
	}

}
