<div class="header">
	<h1>Welcome to the greatest and best blog in the world</h1>

	<div class="account-links">
		<% if user_signed_in? %>
			<%= content_tag :p, link_to( 'log out', destroy_user_session_path, method: :delete ) %>
		<% else %>
			<%= content_tag :p, link_to( 'log in', new_user_session_path, :method => :create) %>
		<% end %>
	</div>

</div>
